 @font-face {
        font-family: "golfFont";
        src: url("./montserrat-latin-400-normal.woff2");
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white; 
    font-family: "golfFont", sans-serif;   
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    /* overflow-x: hidden; */
}

::selection{
    color: #95C11E;
    background-color: #dadada;
}

#nav{
    position: fixed;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding:0 130px;
    padding-top: 25px;
    /* background-color: red; */
    gap: 35px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 11;
}

img{
    height: 100px;
    width: 100px;
}

video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.39);
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}

#page1 h1 {
  font-size: 7.5vw;
  font-weight: 900;
  position: relative;
  text-transform: uppercase;
}

h1::before{
    content: "Eat. Drink. Play.";
    position: absolute;
    color: #111;
    top: -4px;
    left: -2px;
    -webkit-text-stroke: 2px #95C11E;
    z-index: -1;
}

main h3{
    margin-top: 10px;
    margin-bottom:10px;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
}

main p{
    width: 75%;
    font-size: 35px;
    font-weight: 500;
}

#page2{
    min-height: 100vh;  
    width: 100%;
    position: relative;
    z-index: 10;
    /* background-color: black;  */ /*checking for */
}

#cursor{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: fixed;
    background-color: #95C11E;
    z-index: 10;
}

#cursor-blur{
    height: 400px;
    width: 400px;
    background-color: #96c11e67;
    position: fixed;
    filter: blur(50px);
    border-radius: 50%;
}